
#                <-------OpenAI Client------------------->
API_BASE_URL=
MODEL_NAME=
HF_TOKEN=

#              <-----------Ollama----------------------->

# API_BASE_URL=http://localhost:11434/v1
# MODEL_NAME=llama
# HF_TOKEN=ollama



# <------------------- Heuristic Check ------------------>
# API_BASE_URL=example.com/v1
# MODEL_NAME=fake
# HF_TOKEN=example